:root{
  --current-player: #00ff00;
}
body{
  display: flex;
  flex-wrap: wrap;

  color: #efe;
  justify-content: center;
  margin: 0;
  background-color: #050010;
}

small {
  font-size: .5rem;
}

canvas{
  margin: auto;
  display: block;
}

#info {
  margin: 0 1em;
  flex-grow: 1;
}

#board {
  font-size: 0;
}

#postboard{
  text-align: center;
  align-self: flex-end;
}
